In [1]:
import hwk4

In [4]:
path = 'dirty_data_01.csv'

In [5]:
a = hwk4.dirty_data(path)

In [6]:
a

           Order ID   Segment       Ship Mode    Sales
0    CA-2011-103366  Consumer     First Class  149.950
1    CA-2011-109043  Consumer     First Class  243.600
2    CA-2011-113166  Consumer     First Class    9.568
3    CA-2011-124023  Consumer     First Class    8.960
4    CA-2011-130155  Consumer     First Class   34.200
..              ...       ...             ...      ...
817  US-2014-129224  Consumer  Standard Class    4.608
818  US-2014-132031  Consumer  Standard Class  513.496
819  US-2014-132297  Consumer  Standard Class  598.310
820  US-2014-132675  Consumer  Standard Class  148.160
821  US-2014-156083  Consumer  Standard Class    9.664

[822 rows x 4 columns]

In [9]:
b = hwk4.school_data()

In [10]:
b

,FIPS State code,District ID,District Name,Total Population,Population of Relevant Children 5 to 17 years of Age,Estimated Number of Relevant Children 5 to 17 years old in Poverty Related to the Householder,Tag
0,1,190,Alabaster City School District,35268,6797,669,ussd20.txt 26NOV2021
1,1,5,Albertville City School District,22120,4163,918,ussd20.txt 26NOV2021
2,1,30,Alexander City City School District,16819,2579,700,ussd20.txt 26NOV2021
3,1,60,Andalusia City School District,8818,1471,346,ussd20.txt 26NOV2021
4,1,90,Anniston City School District,22017,3053,735,ussd20.txt 26NOV2021
...,...,...,...,...,...,...,...
13167,56,4260,Uinta County School District 6,3116,723,39,ussd20.txt 26NOV2021
13168,56,6240,Washakie County School District 1,7094,1236,139,ussd20.txt 26NOV2021
13169,56,5820,Washakie County School District 2,666,86,9,ussd20.txt 26NOV2021
13170,56,4830,Weston County School District 1,5320,796,88,ussd20.txt 26NOV2021
13171,56,6090,Weston County School District 7,1423,243,25,ussd20.txt 26NOV2021